[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "foundry/lib/ring-buffer-lib"]
	path = foundry/lib/ring-buffer-lib
	url = https://github.com/BlinkyStitt/ring-buffer-lib
